resources:
    scripts:
        - %vendor.directory%/nette/forms/src/assets/netteForms.js
translation:
    fallback: [en_US]
database:
    dsn: 'mysql:host=127.0.0.1;dbname=webedit'
    user: root
    password: NULL
    conventions: static
php:
    date.timezone: Europe/Prague