parameters:
    core:
        database:
            host: 127.0.0.1
            name: webedit
            user: root
            password: NULL
resources:
    scripts:
        - %local.directory%/scripts/jquery-2.1.0.min.js
        - %vendor.directory%/twbs/bootstrap/dist/js/bootstrap.min.js
    styles:
        - %vendor.directory%/twbs/bootstrap/dist/css/bootstrap.min.css
        - %local.directory%/styles/base.css
        - %local.directory%/styles/bootstrap-blockgrid.css
        - %local.directory%/styles/ratio.css
nette:
    session:
        expiration: 14 days
    routing:
        routes:
            '[<locale [a-z]{2}(_[A-Z]{2})?>/]<module>[/<action>][/<id>]':
                module: Home
                presenter: Presenter
                action: view
php:
    date.timezone: Europe/Prague