nette:
    database:
        default:
            dsn: 'mysql:host=127.0.0.1;dbname=cms'
            user: 'root'
            password: ''
            options:
                lazy: yes
            reflection: conventional