{layout auto}
{block layout}
<header>
    {control menu-group-admin:navbar}
</header>
<main class="container">
    {control menu:breadcrumb}
    {control menu:header}
    <aside n:inner-foreach="$flashes as $flash" n:if="$flashes">
        <div class="alert alert-{$flash->type}">
            <p><strong>{$flash->type|capitalize}!</strong> {$flash->message|translate}</p>
        </div>
    </aside>
    {include module}
</main>