@import '../../vendor/bower/bootstrap/scss/bootstrap-flex';

html.loading {
	cursor: progress;
	a, input, button {
		cursor: progress;
	}
}

[id^="snippet-"] {
	transition: opacity .1s ease-in-out;
	.loaded {
		opacity: 0.8;
	}
}
