extensions:
	kdyby.console: Kdyby\Console\DI\ConsoleExtension
	kdyby.monolog: Kdyby\Monolog\DI\MonologExtension
	nextras.migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension
kdyby.monolog:
	handlers:
		- Monolog\Handler\SyslogHandler(%composer.name%)
nextras.migrations:
	dir: %appDir%/migrations
	driver: pgsql
	dbal: nextras
	phpParams: [[
		model: @Nextras\Orm\Model\IModel
	]]
tracy:
	errorTemplate: %appDir%/maintenance.php
