[class*="ratio-"] {
    position: relative;
}

[class*="ratio-"]:before {
    content: '';
    display: block;
    padding-top: 56.25%;
}

[class*="ratio-"] > * {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.ratio-16-9:before {
    padding-top: 56.25%;
}

.ratio-16-10:before {
    padding-top: 62.50%;
}

.ratio-4-3:before {
    padding-top: 75%;
}

.ratio-1-1:before{
    padding-top:100%;
}