{block #content}
<ul n:block="menu">
    <li n:foreach="$menu as $node">
        {var $data=$node['data']}
        {var $children=$node['children']}
        <a n:href="Node:edit, id=>$data->id">
            {$data->title}
        </a>
        {if count($children)}
            {include #menu, menu=>$children}
        {/if}
    </li>
</ul>