{block #content}
<ul n:block="menu">
    <li n:foreach="$menu as $node">
        {var $subMenu=$node->related('node')->where('list_id',$node->list_id)}
        <a n:href="Node:edit, id=>$node->id">
            {$node->title}
        </a>
        {if $subMenu->count()}
            {include #menu, menu=>$subMenu}
        {/if}
    </li>
</ul>