<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="cs"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="cs"> <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{control menu:title}</title>
        {control css}
    </head>

    <body class="{$presenter->getName()} {$presenter->getAction()}">
        {include #layout}

        {control js}
    </body>
</html>