parameters:
    modules:
        page:
            directory: %cms.directory%/Page
services:
    CMS\Page\Model\PageFacade: self
    CMS\Page\Model\PageRepository: self
    CMS\Page\Form\PageFormFactory: self