parameters:
    modules:
        page:
            directory: %cms.directory%/Page
    locale:
        - %modules.page.directory%/locale
services:
    - CMS\Page\Model\PageFacade
    - CMS\Page\Model\PageRepository
    - CMS\Page\Form\PageFormFactory