{var collapseId = uniqid('panel-collapse-')}
<div class="component-menu-sidebar">
    <div class="panel panel-primary panel-{$group}">
        <div class="panel-heading clearfix">
            <span class="panel-title">
                <a href="{plink $home->link_admin,id=>$home->link_id}">
                    {$home->title}
                </a>
            </span>
            <button class="btn btn-xs btn-default pull-right" href="#" data-toggle="collapse" data-target=".{$collapseId}">
                Toggle <i class="icon-caret-down"></i>
            </button>
        </div>
        <div class="list-group">
            <div class="collapse panel-collapse {$collapseId}" n:inner-foreach="$tree as $node">
                <a n:class="$presenter->isLinkCurrent($node->data->link_admin,array('id'=>$node->data->link_id))?active,list-group-item" href="{plink $node->data->link_admin,id=>$node->data->link_id}">
                    {$node->data->title}
                </a>
                {if count($node->children)}
                    {include #nav,tree=>$node->children}
                {/if}
            </div>
        </div>
    </div>
    {define #nav}
    <ul n:inner-foreach="$tree as $node">
        <li n:class="$presenter->isLinkCurrent($node->data->link_admin,array('id'=>$node->data->link_id))?active">
            <a href="{plink $node->data->link_admin,id=>$node->data->link_id}">
                {$node->data->title}
            </a>
            {if count($node->children)}
                {include #nav,tree=>$node->children}
            {/if}
        </li>
    </ul>
    {/define}
</div>