<div class="component-menu-breadcrumb">
    <ol class="breadcrumb" n:inner-foreach="$breadcrumb as $node">
        <li n:class="$iterator->last?active">
            <a n:tag-if="!$iterator->last" href="{plink $node->link, id=>$node->link_id}">{$node->title}</a>
        </li>
    </ol>
</div>