<div class="component-menu-list">
    <ul n:block="nav" n:inner-foreach="$tree as $node">
        <li n:class="isset($breadcrumb[$node->data->id])?active">
            <a href="{plink $node->data->link,id=>$node->data->link_id}">
                {$node->data->title}
            </a>
            {if count($node->children)}
                {include #nav,tree=>$node->children}
            {/if}
        </li>
    </ul>
</div>