parameters:
    modules:
        menu:
            directory: %cms.directory%/Menu
    components:
        menu:
            directory: %modules.menu.directory%/Component/Menu
    locale:
        - %modules.menu.directory%/locale
services:
    - CMS\Menu\Model\NodeFacade
    - CMS\Menu\Model\NodeRepository

    - CMS\Menu\Model\TreeFacade
    - CMS\Menu\Model\TreeRepository

    - CMS\Menu\Component\Menu\AdminMenuControl
    - CMS\Menu\Component\Menu\FrontMenuControl