parameters:
    modules:
        menu:
            directory: %cms.directory%/Menu
    components:
        menu:
            directory: %modules.menu.directory%/Component/Menu
    locale:
        - %modules.menu.directory%/locale
services:
    - CMS\Menu\Node\Model\Facade
    - CMS\Menu\Node\Model\Repository

    - CMS\Menu\Tree\Model\Facade
    - CMS\Menu\Tree\Model\Repository

    - CMS\Menu\AdminControl
    - CMS\Menu\FrontControl