database:
	dsn: 'mysql:host=127.0.0.1;dbname=ytnuk'
	user: root
extensions:
	application: Ytnuk\Application\Extension
	templating: Ytnuk\Templating\Extension
	translation: Kdyby\Translation\DI\TranslationExtension
	form: Ytnuk\Form\Extension
	grid: Ytnuk\Grid\Extension
	orm: Ytnuk\Orm\Extension
	menu: Ytnuk\Menu\Extension
	page: Ytnuk\Page\Extension
	message: Ytnuk\Message\Extension

	ytnuk.admin: Ytnuk\Web\Extension
	ytnuk.com: Ytnuk\Web\Extension
	ytnuk.cz: Ytnuk\Web\Extension
ytnuk.admin:
	web: admin
	locale: [cs_CZ, en_US]
ytnuk.cz:
	web: front
	locale: cs_CZ
ytnuk.com:
	web: front
routing:
	cache: true
application:
	scanDirs:
		- %appDir%/../vendor
