parameters:
    cms:
        directory: %appDir%/CMS
        styles:
            directory: %cms.directory%/styles
        scripts:
            directory: %cms.directory%/scripts
    modules:
        directory: %appDir%/modules
    scripts:
        - %cms.scripts.directory%/jquery-2.0.3.min.js
        - %cms.scripts.directory%/bootstrap.min.js
        - %cms.scripts.directory%/netteForms.js
        - %cms.scripts.directory%/cms.js
    styles:
        - %cms.styles.directory%/bootstrap.min.css
        - %cms.styles.directory%/bootstrap-blockgrid.css
        - %cms.styles.directory%/font-awesome.min.css
        - %cms.styles.directory%/ratio.css
        - %cms.styles.directory%/cms.css
nette:
    application:
        mapping:
            *: CMS\*\*Presenter
        errorPresenter: Error
    routing:
        routes:
            '[<module>/]<presenter>[/<action>][/<id>]':
                module: Front
                presenter: Home
                action: view
    session:
        expiration: 14 days
includes:
    - config.local.neon