<div class="section-container accordion" data-section="accordion" n:inner-foreach="$menu as $node" data-options="one_up: false;deep_linking: true;  ">
    {var $subMenu=$node->related('node')->where('list_id',$node->list_id)}
    <section n:class="isset($breadcrumb[$node->id])?active">
        <p class="title" data-section-title>
            <a href="{plink $node->link,id=>$node->link_id}">{$node->title}</a>
        </p>
        <div n:if="isset($breadcrumb[$node->id]) && count($subMenu)" class="content" data-section-content>
            {include #nav, menu=>$subMenu}
        </div>
    </section>    
</div>
{define #nav}
<ul class="side-nav">
    {foreach $menu as $node}
        {var $subMenu=array()}
        {if isset($breadcrumb[$node->id])}
            {var $subMenu=$node->related('node')->where('list_id',$node->list_id)}
        {/if}
        <li n:class="isset($breadcrumb[$node->id])?active">
            <a href="{plink $node->link,id=>$node->link_id}">{$node->title}</a>
            {if count($subMenu)}
                {include #nav, menu=>$subMenu}
            {/if}
        </li>
    {/foreach}
</ul>
{/define}