<nav class="breadcrumbs" n:inner-foreach="$breadcrumb as $node">
    <a n:tag-if="!$iterator->last" href="{plink $node->link, id=>$node->link_id}">
        <span n:tag-if="$iterator->last" class="current">
            {$node->title}
        </span>
    </a>
</nav>