<div class="navbar navbar-static-top navbar-{$type}">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-{$type}-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{plink $home->link, id=>$home->link_id}">
            <strong>
                <i class="icon-home"></i> {$home->title}
            </strong>
        </a>
        <div class="nav-collapse collapse navbar-{$type}-collapse">
            {var $level=0}
            <ul n:class="!$level?nav,!$level?navbar-nav,$level?dropdown-menu" n:block="nav">
                {var $level++}
                {foreach $menu as $node}
                    {var $subMenu=$node->related('node')->where('list_id',$node->list_id)}
                    <li n:class="isset($breadcrumb[$node->id])?active,$subMenu->count()?($level==1?dropdown:dropdown-submenu)">
                        <a href="{plink $node->link,id=>$node->link_id}"{if $subMenu->count()} class="dropdown-toggle" data-toggle="dropdown"{/if}>
                            {$node->title}
                        </a>
                        {if $subMenu->count()}
                            {include #nav, menu=>$subMenu}
                        {/if}
                    </li>
                {/foreach}
            </ul>
        </div>
    </div>
</div>