<div class="component-menu-navbar-nav">
    <ul n:class="nav,navbar-nav,isset($left)?navbar-left" n:inner-foreach="$tree as $node">
        <li n:class="isset($breadcrumb[$node->data->id])?active,count($node->children)?dropdown">
            <a href="{plink $node->data->link,id=>$node->data->link_id}"{if count($node->children)} class="dropdown-toggle" data-toggle="dropdown"{/if}>
                {$node->data->title} <b class="caret" n:tag-if="count($node->children)"></b>
            </a>
            <ul n:if="count($node->children)" class="dropdown-menu" n:inner-foreach="$node->children as $node">
                <li n:class="isset($breadcrumb[$node->data->id])?active">
                    <a href="{plink $node->data->link,id=>$node->data->link_id}">
                        {$node->data->title}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>