{layout $baseLayout}
{#layout}
{control menu front}
<div class="container">
    <div class="row">
        <div class="col-12">
            {control menu:breadcrumb}
            <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {$flash->message}
            </div>
            {include #module}
        </div>
    </div>
</div>