{#content}
<ul n:block="menu">
    <li n:foreach="$tree as $node">
        <a n:href="Node:edit, id=>$node->data->id">
            {$node->data->title}
        </a>
        {if count($node->children)}
            {include #menu, tree=>$node->children}
        {/if}
    </li>
</ul>