includes:
    - config.local.neon
parameters:
    cmsDir: %appDir%/cms
    jsDir: %cmsDir%/templates/js
    cssDir: %cmsDir%/templates/css
    javascript:
        jQuery: %jsDir%/jquery-2.0.3.min.js
        bootstrap: %jsDir%/bootstrap.min.js
        responsiveTables: %jsDir%/responsive-tables.js
        cms: %jsDir%/cms.js
        liveForm: %jsDir%/live-form-validation.js
        respond: %jsDir%/respond.min.js
    css:
        normalize: %cssDir%/normalize.css
        bootstrap: %cssDir%/bootstrap.min.css
        fontAwesome: %cssDir%/font-awesome.min.css
        responsiveTables: %cssDir%/responsive-tables.css
        cms: %cssDir%/cms.css
services:
factories:
nette:
    application:
        mapping:
            *: CMS\*\*Presenter
        errorPresenter: Error
    routing:
        routes:
            '<module>[/<presenter>][/<action>][/<id>]':
                module: Front
                presenter: Home
                action: view
    session:
        expiration: 14 days
