includes:
    - config.local.neon
parameters:
    modules:
        directory: %appDir%/modules
    components:
        menu:
            directory: %appDir%/cms/Component/Menu
    scripts:
        directory: %appDir%/cms/scripts
        files:
            - %scripts.directory%/jquery-2.0.3.min.js
            - %scripts.directory%/bootstrap.min.js
            - %scripts.directory%/responsive-tables.js
            - %scripts.directory%/netteForms.js
            - %scripts.directory%/respond.min.js
            - %scripts.directory%/cms.js
    styles:
        directory: %appDir%/cms/styles
        files:
            - %styles.directory%/bootstrap.min.css
            - %styles.directory%/bootstrap-blockgrid.css
            - %styles.directory%/font-awesome.min.css
            - %styles.directory%/responsive-tables.css
            - %styles.directory%/ratio.css
            - %components.menu.directory%/styles/sidebar.css
            - %styles.directory%/cms.css
services:
    cms.model.pagerepository: CMS\Model\PageRepository
    cms.model.listrepository: CMS\Model\ListRepository
    cms.model.noderepository: CMS\Model\NodeRepository
    cms.component.menu.menucontrol: CMS\Component\Menu\MenuControl
factories:
nette:
    application:
        mapping:
            *: CMS\*\*Presenter
        errorPresenter: Error
    routing:
        routes:
            '[<module>/]<presenter>[/<action>][/<id>]':
                module: Front
                presenter: Home
                action: view
    session:
        expiration: 14 days