nette:
    database:
        dsn: 'mysql:host=127.0.0.1;dbname=cms'
        user: 'root'
        password: 'root'
        options:
            lazy: yes
        reflection: conventional
    container:
        debugger: TRUE
    session:
        debugger: TRUE
    debugger:
        strictMode: TRUE
php:
    date.timezone: Europe/Prague
