includes:
    - config.local.neon
parameters:
    cmsDir: %appDir%/cms
    jsDir: %cmsDir%/templates/js
    cssDir: %cmsDir%/templates/css
    scripts:
        jquery: %jsDir%/jquery-2.0.3.min.js
        bootstrap: %jsDir%/bootstrap.min.js
        responsivetables: %jsDir%/responsive-tables.js
        netteforms: %jsDir%/netteForms.js
        respondjs: %jsDir%/respond.min.js
        cms: %jsDir%/cms.js
    styles:
        bootstrap: %cssDir%/bootstrap.min.css
        fontawesome: %cssDir%/font-awesome.min.css
        responsivetables: %cssDir%/responsive-tables.css
        ratio: %cssDir%/ratio.css
        cms: %cssDir%/cms.css
services:
factories:
nette:
    application:
        mapping:
            *: CMS\*\*Presenter
        errorPresenter: Error
    routing:
        routes:
            '[<module>/]<presenter>[/<action>][/<id>]':
                module: Front
                presenter: Home
                action: view
    session:
        expiration: 14 days