parameters:
    webedit:
        database:
            host: 127.0.0.1
            name: webedit
            user: root
            password: NULL
    locale:
        - %webedit.directory%/locale
    scripts:
        - %webedit.scripts.directory%/jquery-2.0.3.min.js
        - %vendor.bootstrap.directory%/dist/js/bootstrap.min.js
    styles:
        - %vendor.bootstrap.directory%/dist/css/bootstrap.min.css
        - %webedit.styles.directory%/base.css
        - %webedit.styles.directory%/bootstrap-blockgrid.css
        - %webedit.styles.directory%/ratio.css
    vendor:
        bootstrap:
            directory: %vendor.directory%/twbs/bootstrap
php:
    date.timezone: Europe/Prague