database:
	dsn: 'mysql:host=127.0.0.1;dbname=webedit'
	user: root
extensions:
	admin: WebEdit\Admin\Extension
	front: WebEdit\Front\Extension
	application: WebEdit\Application\Extension
	templating: WebEdit\Templating\Extension
	translation: Kdyby\Translation\DI\TranslationExtension
	form: WebEdit\Form\Extension
	grid: WebEdit\Grid\Extension
	orm: WebEdit\Orm\Extension
	menu: WebEdit\Menu\Extension
	routing: WebEdit\Routing\Extension
	home: WebEdit\Home\Extension
	page: WebEdit\Page\Extension
	message: WebEdit\Message\Extension
