{layout $baseLayout}
{#layout}
{control menu front,navbar}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {control menu:breadcrumb}
            <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
                <strong>{$flash->type|capitalize}!</strong> {$flash->message}
            </div>
            {include #module}
        </div>
    </div>
</div>