@import "../../../vendor/bower/bourbon/app/assets/stylesheets/bourbon";
@import '../../../vendor/bower/bootstrap/scss/bootstrap-flex';
@import "../../../vendor/bower/font-awesome/scss/font-awesome";

html.loading {
	cursor: progress;
	a, input, button {
		cursor: progress;
	}
}

[id^="snippet-"] {
	@include transition(opacity .1s ease-in-out);
	.loaded {
		opacity: 0.8;
	}
}

body.modal-open > main {
	@include filter(blur(5px));
}
