parameters:
    core:
        directory: %appDir%/core
    modules:
        directory: %appDir%/modules
    components:
        menu:
            directory: %core.directory%/Component/Menu
    scripts:
        directory: %core.directory%/scripts
        files:
            - %scripts.directory%/jquery-2.0.3.min.js
            - %scripts.directory%/bootstrap.min.js
            - %scripts.directory%/netteForms.js
            - %scripts.directory%/cms.js
    styles:
        directory: %core.directory%/styles
        files:
            - %styles.directory%/bootstrap.min.css
            - %styles.directory%/bootstrap-blockgrid.css
            - %styles.directory%/font-awesome.min.css
            - %styles.directory%/ratio.css
            - %styles.directory%/cms.css
services:
    CMS\Model\PageFacade: self
    CMS\Model\PageRepository: self
    CMS\Model\MenuFacade: self
    CMS\Model\TreeRepository: self
    CMS\Model\NodeRepository: self
    CMS\Component\Menu\MenuControl: self
    CMS\Admin\Menu\Form\NodeFormFactory: self
    CMS\Admin\Page\Form\PageFormFactory: self
factories:
nette:
    application:
        mapping:
            *: CMS\*\*Presenter
        errorPresenter: Error
    routing:
        routes:
            '[<module>/]<presenter>[/<action>][/<id>]':
                module: Front
                presenter: Home
                action: view
    session:
        expiration: 14 days
includes:
    - config.local.neon